fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiosmtplib
email-validator
argon2-cffi
numpy
joblib
shap
scikit-learn
pandas
openpyxl
jinja2
fastapi-pagination
matplotlib
aiofiles
xgboost
starlette